
.CvItem__container {
  width:100%; 
}

.CvItem {
  border-bottom: 2px solid var(--primary-border-color);
  padding: 0 1em 1em 3em;
  margin-bottom: 2em;
}

.CvItem__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap:3em;
}

.CvItem__header-right {
  text-align: right;
}