.footer {
  width: 100vw;
  height: 80px;
 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.theme-light{
  background-color:aliceblue;
  color:black;
}
.theme-dark{
  background-color:black;
  color:aliceblue
}