.header {
  width: 100vw;
  height: 80px;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.theme-light{
  background-color:aliceblue;
  color:black;
}
.theme-dark{
  background-color:black;
  color:aliceblue
}

.title {
 
  flex: 1;

  font-size: 24px;
  font-weight: bold;
}

.nav {

  flex: 1;
}

.navlist {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  color: white;
  gap: 10px;
  font-size: 18px;
}
