.projectPresenter {
 display: flex;
 flex-direction: column;
 align-items: center;
 width: 600px;
}

.project-container {

 background-color: brown; 
 overflow: auto;
 height:500px;

}
.button__container {
  width: 500px;
  margin:20px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 
}

.project__title {
  margin-bottom: 20px;
}

.project__description{
  width: 75%;
  margin-bottom: 20px;
}

.image-container { 
  width: 100%;

background-color: aqua;
  overflow: auto;
}

