
.Home-2col {
  display:flex;
  flex-direction: row;
  margin: 0 10em;
 }

.Home__aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 4em;
  width:50%;
  background-color: var(--secondary-bg-color);
  color:var(--primary-text-color);
}

.Home__portrait {
  border-radius: 100px;
  width: 200px;
  margin-bottom:3em;
}

.Home__presentation{
  font-size: 24px;
  padding: 0 2em;
  
}

  .Home__main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    width:50%;
    background-color: var(--third-bg-color);
    color:var(--primary-text-color);
  }

  



 