.header {
  background-color:var(--primary-bg-color) ;
  color:var(--primary-text-color);
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.themeToggler{
  position: absolute;
  top: 1rem;
  right: 3rem;
}

.header__title {
  margin-top: 1rem;
  font-size: 3em;
  font-weight: 500;
   font-family: Fredericka the Great;
   
}

.header__navlist {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 5em;
  font-size: 1rem;
  padding:1em 0 0 0;
  
}

.header__navitem {
  color: var(--nav-text-color);
}

.active {
   font-weight:800; /* Make the active link bold */
 }

a {
  font-weight: 500;
  font-size: 1.5em;
  text-decoration: inherit;
}
a:hover {
  font-weight: 700;
  color:brown;
}




