.header {
  background-color:var(--primary-bg-color) ;
  color:var(--primary-text-color);
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.themeToggler{
  
  position: absolute;
  top: 1rem;
  right: 3rem;
  
}

.title {
  margin-top: 2rem;
  font-size: 4em;
   font-family: Fredericka the Great;
   
}

.navlist {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 5em;
  font-size: 1.2rem;
  padding:1em;
  
}

.navitem {
  color: var(--nav-text-color);
}

.active {
  color: red; /* Change the color of the active link */
  font-weight: bold; /* Make the active link bold */
}

a {
  font-weight: 500;
  font-size: 1.5em;

  text-decoration: inherit;
}
a:hover {
  font-weight: 700;
  color: var(--project-link-hover);
}




