/* Forward and Rearward buttons for image carousel */

.buttonGen{
  width: 8em;
  height:4em;
  border-radius: 1.5em;
  border:none;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--general-btn-bg-color);
  margin:0 2em;
}

.buttonFwd {
  background-image: url('/public/assets/ArrowFwd.png');
}

.buttonRwd {
  background-image: url('/public/assets/ArrowRwd.png');
}
