
.Project-2col {
  display:flex;
  flex-direction: row;
  margin: 0 10em;
}

.Project__aside {
  display: flex;
  flex-direction: column;
  align-items: center;
 padding: 2em 4em;
 width:30%;
 background-color: var(--Aside-bg-color);
 color:var(--Aside-text-color);
}

.Project__main {
  display: flex;
  flex-direction: column;
  align-items: center;
 padding: 2em 6em;
 width:70%;
 background-color: var(--main-bg-color);
 color:var(--main-text-color);
}


.Project__item{
  margin-top: 2em;
  border-bottom: 3px solid black;
  padding-bottom: 1em;
}


 
 
 

