.footer {
  background-color:var(--footer-bg-color) ;
  color:var(--footer-text-color);
  width: 100vw;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
 
  
}

