
* {
  box-sizing: border-box;
  margin:0;
  padding:0;
  font-family: Poppins;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
} 

a {
  font-weight: 500;
  font-size: 1.5em;
  text-decoration: inherit;
}
a:hover {
  font-weight: 700; 
}

.theme-light{

  --primary-text-color:#0b0c0f;
  --primary-bg-color: #f4e9c0;
  --secondary-bg-color:#e0f6f5;
  --third-bg-color:#f8f1d7;
  
  --general-btn-bg-color: #9dbebc;
  --general-btn-text-color: #0a0425;
  --active-btn-bg-color: #ffffff;
  --active-btn-text-color: #0a0425;

  --nav-text-color:#2c3550;
  --nav-active-text-color:#030303;

  --primary-border-color:#0b0c0f;
  --modal-bg-color:#9dbebc;
  a{
    color: #6a8a88;
  }
}
.theme-dark{

  --primary-text-color:#f7f0df;
  --primary-bg-color: #013140;
  --secondary-bg-color: #054351;
  --third-bg-color:#0b5669;

  --general-btn-bg-color: #568591;
  --general-btn-text-color: #dadada5;
  --active-btn-bg-color: #013140;
  --active-btn-text-color: #dadada5;

  --nav-text-color:#f3daa0;
  --nav-active-text-color:#fff;

  --primary-border-color:#f6ebd2;

  --modal-bg-color:#568591;

  a{
    color: #f3daa0;
  }
}








