#root {
  max-width: 100vw;
  min-height:100vw;
 }


* {
  box-sizing: border-box;
  margin:0;
  padding:0;
  font-family: Poppins;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
} 

section{

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.theme-light{

  --primary-text-color:#0b0c0f;
  --primary-bg-color: #f4e9c0;
  --secondary-bg-color:#e0f6f5;
  --third-bg-color:#f8f1d7;
  
  --general-btn-bg-color: #9dbebc;
  --general-btn-text-color: #0a0425;
  --active-btn-bg-color: #ffffff;
  --active-btn-text-color: #0a0425;

  --nav-text-color:#2c3550;
  --nav-active-text-color:#030303;

  --project-link-hover:#3b15e2;

  --primary-border-color:#0b0c0f;
}
.theme-dark{

  --primary-text-color:#f7f0df;
  --primary-bg-color: #012340;
  --secondary-bg-color: #024873;
  --third-bg-color:#0A6AA6;

  --general-btn-bg-color: #4AA2D9;
  --general-btn-text-color: #dadada5;
  --active-btn-bg-color: #082851;
  --active-btn-text-color: #dadada5;

  --nav-text-color:#f3daa0;
  --nav-active-text-color:#fff;

  --project-link-hover:#f2f6f6;

  --primary-border-color:#f6ebd2;
}








